#main {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 14px;
    max-width: 1000px;
    height: max-content;
    margin: 10px auto 0;
}

.header {
    grid-column: span 24;
    height: 50px;
    background-color: chocolate;
}

.card {
    background-color: #cecece;
    min-height: 30px;
    border-radius: 10px;
}

.lhs {
    grid-column: span 5;
    max-height: 100px;
}

.ms {
    grid-column: span 15;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.ms .section_header {
    width: 100%;
    background-color: #6affc6;

}

.ms .section_desc {
    width: 100%;
    background-color: unset;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 14px
}

.ms .section_desc .mlhs {
    grid-column: span 10;
    display: flex;
    flex-direction: column;
    gap: 14px;
    background-color: unset;
}

.mrhs {
    display: flex;
    gap: 14px;
    flex-direction: column;
    background-color: unset;
}

.mlhs-2 {
    height: 200px;
}

.mrhs-2 {
    height: 332px;
}

.ms .section_desc .mrhs {
    grid-column: span 5;
}

.rhs {
    grid-column: span 4;
}