/* 
Author: Uchenna Mba
Version: 2.00
*/

body {
    /* background-color: rgb(255, 58, 58); */
    /* background-image: url(../assets/bear.webp); */
    /* background-size: cover; */
    /* height: 2000px; */
    /* background-repeat: no-repeat; */
    /* background-position: right top; */
    /* background-attachment: fixed; */
    /* background-color: ; */
    background: #ffcbcb url(../assets/bg2.jpg) no-repeat fixed right top;
}

p {
    color: rgb(0, 46, 9);
}

.header_links {
    background-color: black;
    color: rgb(255, 78, 78);
}

.product_card {
    background-color: rgba(255, 255, 255, 0.2);
    width: 500px;
}

/* URL -> Uniform Resource Locator */